@page "/ahojSvete"

<PageTitle>Ahoj Světe</PageTitle>

<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h1>Ahoj Světe</h1>
            <p class="lead">@AhojSvete()</p>
        </div>
    </div>
</div>

@code {
    private string AhojSvete()
    {
        return "Vítejte na stránce Ahoj Světe!";
    }
}

