@page "/ahojSvete"

<PageTitle>Ahoj Svete</PageTitle>

<h1>Ahoj Světe</h1>
<hr />
<b>Moje prvni stranka</b>
<p>@AhojSvete()</p>


@code {
    private string AhojSvete()
    {
        return "Vítejte na stránce Ahoj Světe!";
    }
}