@page "/"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<br />

<b>@GetValue()</b>

<br />

<button @onclick="IncrementCounter" class="btn btn-primary">JmenoTlacitka</button>
<p>Počet kliknutí: @counter</p>

<Dashboard />

@code {
    private int counter = 0;

    private string GetValue()
    {
        return Guid.NewGuid().ToString();
    }

    private void IncrementCounter()
    {
        counter++;
    }
}
